* {
  font-family: "Roboto", sans-serif;
}

.header {
}

.header__left {
  display: flex;
  justify-content: center;
}

.header__right {
}

.header__brad {
  color: #dbab83;
  font-weight: 800;
  font-size: 20px;
  height: auto;
  letter-spacing: 0.9px;
  padding-right: 0;
}
.header__herr {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  height: auto;
  letter-spacing: 0.9px;
  padding-left: 0;
}
